*                           @CloudNationHQ/SG-MDM-GitHub-Azure-Wam
CODEOWNERS                  @CloudNationHQ/SG-MDM-GitHub-Azure-Wam-Release
auto-release-notes.yml      @CloudNationHQ/SG-MDM-GitHub-Azure-Wam-Release